<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button href="">
            Webkert
        </a>
        <button mat-button *ngFor="let item of categories">
            {{item}}
            <mat-icon>movie</mat-icon>
        </button>
        <!--  <button mat-button>
            Kedvencek
            <mat-icon>star</mat-icon>
        </button> -->
        <span style="flex: 1 1;"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>{{selectedCategory}}</span>
    </mat-toolbar-row>
</mat-toolbar>