@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

html,
body {
  height: 100%;
  background-color: #303030;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-right {
  margin-right: 16px !important;
}
