.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px;
}

web-movie,
web-game {
  background-color: #eee;
  padding: 16px;
  min-width: 200px;
  flex: 1;
  margin: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

web-movie:hover,
web-game:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
