<web-nav [categories]="categories" [selectedCategory]="category" (callSelectC)="onSelect($event)"></web-nav>

<div [ngSwitch]="category">
  <div *ngSwitchCase="'movie'" class="container">
    <web-movie *ngFor="let movie of movies" [movie]="movie" (getMovie)="onFavorite($event)"></web-movie>
  </div>
  <div *ngSwitchCase="'game'" class="container">
    <web-game *ngFor="let game of games" [game]="game"></web-game>
  </div>
  <div *ngSwitchCase="'favorite'" class="container">
    <web-favorite *ngFor="let favorite of favorites" [favorite]="favorite"></web-favorite>
  </div>
  <div *ngSwitchDefault class="container">
    <web-splash-screen [categories]="categories" (callSelectC)="onSelect($event)"></web-splash-screen>
  </div>
</div>