<mat-card webOnHover>
    <mat-card-header>
        <mat-card-title>{{movie.title}}<small *ngIf="movie.lengthMin">({{movie.lengthMin}}p)</small></mat-card-title>
        <mat-card-subtitle>
            <div [style.backgroundColor]="movie.imdb > 8.3 ? 'magenta': 'red'" class="imdb">{{movie.imdb}}</div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img *ngIf="movie.img" [src]="movie.img" alt="borito">
        <p>{{movie.description}}</p>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions> -->
</mat-card>